@model IEnumerable<FoodInspectionApp.Models.Premises>

<div class="container mt-4">

    <h2>🏢 Premises</h2>

    <table class="table table-striped table-hover mt-3 shadow">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Town</th>
                <th>Risk</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Town</td>
                    <td>
                        <span class="badge bg-warning text-dark">
                            @item.RiskRating
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>